<!doctype html>
<html lang="en">
<head>
    <title>{% block titulo %} Wallapop {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/tabIcon.ico"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {% block scripts %} {% endblock %}
</head>
<body>

<!-- Barra de Navegación superior -->
<nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarContent"
            aria-controls="navBarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="/images/nube.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Wallapop
    </a>
    <div class="collapse navbar-collapse" id="navBarContent">
        <ul class="navbar-nav mr-auto">
            {% if user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#"
                   aria-haspopup="true" aria-expanded="false">
                    Gestión de ofertas
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/offer/add">Añadir oferta</a>
                    <a class="dropdown-item" href="/">Ver mis ofertas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/offer/bought">Ver ofertas compradas</a>
                </div>
            </li>
            {% if user.isAdmin %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#"
                   aria-haspopup="true" aria-expanded="false">
                    Gestión de usuarios
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/add">Añadir usuario</a>
                    <a class="dropdown-item" href="/user/list">Ver usuarios</a>
                </div>
            </li>
            {% endif %}
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if !user %}
            <li class="nav-item">
                <a class="nav-link" href="/signup">Registrate</a>
            </li>
            <li>
                <a class="nav-link" href="/login">Identifícate</a>
            </li>
            {% endif %}
            {% if user %}
            <li class="nav-item">
                <button type="button" class="btn btn-info" disabled aria-haspopup="true" aria-expanded="false">
                    {{user.dinero + '€'|default('¿?&euro;')}}
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{user.email|default('Usuario')}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/logout">Desconectarse</a>
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">

    {% if error !== '' %}
    <div class="alert alert-danger text-center" role="alert">
        {{error}}
    </div>
    {% endif %}

    <script>
        var mensaje = getUrlParameter('mensaje');
        var tipoMensaje = getUrlParameter('tipoMensaje');
        if (mensaje != "") {
            if (tipoMensaje == "") {
                tipoMensaje = 'alert-info';
            }
            $(".container")
                .append("<div class='alert " + tipoMensaje + "'>" + mensaje + " </div>");
        }

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' :
                decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    </script>
    <!-- Contenido -->
    {% block contenido_principal %}
    <!-- Posible contenido por defecto -->
    {% endblock %}

</div>

<!-- Footer -->
<footer class="footer">
    <!-- Copyright -->
    <div class="container" style="text-align: center"> Wallapop NodeJS &copy;
        <a href="https://github.com/daniferna/sdi-actividad2-705">Daniel Fernández Aller</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>