{% extends "base.html" %}
{% block titulo %} Wallapop {% endblock %}
{% block contenido_principal %}

<div class="container" style="text-align: center">
    <h2>Bienvenidos a Wallapop</h2>
    <h3>Esta es una pagina de compra-venta de articulos y bienes entre particulares.</h3>
    <br>
    <h4>Ofertas del usuario</h4>
    <br>
    <table class="table table-responsive-sm">
        <thead class="thead-light">
        <tr>
            <th style="width: 20%" scope="col">Título</th>
            <th style="width: 35%" scope="col">Descripción</th>
            <th style="width: 15%" scope="col">Precio</th>
            <th style="width: 10%" scope="col"></th>
            <th style="width: 10%" scope="col"></th>
            <th style="width: 10%" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
        <tr>
            <th scope="row">{{ offer.title }}</th>
            <td>{{ offer.description }}</td>
            <td> {{ offer.value }} &euro;</td>
            <td>
                <a class="btn btn-info" role="button" href="/offer/details/{{ offer.id }}">Detalles</a>
            </td>
            <td>
                <a class="btn btn-warning" role="button" href="/offer/edit/{{ offer.id }}">Modificar</a>
            </td>
            <td>
                <a class="btn btn-danger" role="button" href="/offer/delete/{{ offer.id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}