{% extends "base.html" %}
{% block titulo %} Wallapop {% endblock %}
{% block contenido_principal %}

<div class="container" style="text-align: center">
    <h2>Bienvenido a Wallapop</h2>
    <h3>Esta es una pagina de compra-venta de articulos y bienes entre particulares.</h3>
    <br>
    <h4>Ofertas del usuario</h4>
    <br>
    <table class="table table-responsive-sm">
        <thead class="thead-light">
        <tr>
            <th style="width: 25%" scope="col">Título</th>
            <th style="width: 40%" scope="col">Descripción</th>
            <th style="width: 15%" scope="col">Precio</th>
            <th style="width: 10%" scope="col"></th>
            <th style="width: 10%" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
        <tr>
            <th scope="row">{{ offer.title }}</th>
            <td>{{ offer.details }}</td>
            <td> {{ offer.value }} &euro;</td>
            {% if offer.conversations && offer.conversations.length >= 1 %}
            <td>
                <a class="btn btn-primary" role="button" href="/offer/conversations/{{ offer._id.toString() }}">Conversaciones</a>
            </td>
            {% else %}
            <td>
                <a class="btn btn-primary disabled" role="button"
                   href="/offer/conversations/{{ offer._id.toString() }}">Conversaciones</a>
            </td>
            {% endif %}
            <td>
                <a class="btn btn-danger" role="button" href="/offer/delete/{{ offer._id.toString() }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if offers.length == 0 %}
    <p>El usuario no tiene ningun producto en venta.</p>
    {% endif %}
</div>

{% endblock %}