{% extends "../base.html" %}
{% block titulo %} Wallapop {% endblock %}
{% block contenido_principal %}

<form class="form-horizontal" method="post">
    <h2>Usuarios</h2>
    <p>Los usuarios que actualmente figuran en el sistema son los siguientes:</p>
    <table id="tableUsers" class="table table-responsive-sm">
        <thead class="thead-light">
        <tr class="text-center">
            <th style="width: 10%" scope="col">Eliminar</th>
            <th style="width: 30%" scope="col">E-mail</th>
            <th style="width: 15%" scope="col">Nombre</th>
            <th style="width: 25%" scope="col">Apellidos</th>
            <th style="width: 10%" scope="col"></th>
            <th style="width: 10%" scope="col"></th>
        </tr>
        </thead>
        <tbody id="bodyTable">
        {% for user in users %}
        <tr class="text-center">
            <td>
                <input value="{{user._id.toString()}}" name="chkUserID" id="chkUserID-{{user.email}}" type="checkbox"/>
            </td>
            <td>{{user.email}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td><a class="btn btn-warning" role="button" href="/user/edit/{{user._id.toString()}}">Modificar</a></td>
            <td><a class="btn btn-danger" role="button" id="removeUserButton-{{user.email}}"
                   href="/user/delete/{{user._id.toString()}}">Eliminar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="padding-top:20px">
        <button class="btn btn-primary" id="removeUsersButton" type="submit">
            Eliminar usuarios
        </button>
    </div>
</form>

<script>
    $("#removeUsersButton").click(function (event) {
        event.preventDefault();
        var usersIDs = $('input[name="chkUserID"]:checked').map(function () {
            return this.value;
        }).get();
        $.ajax({
            url: '/user/list/removeUsers', type: 'post',
            data: {usersIDs: usersIDs},
            success: function (response) {
                window.location.reload();
            }
        });
    });
</script>

{% endblock %}